# AIRFLOW 

# Based on the Airflow official documentation
AIRFLOW_UID=50000
# Do not load DAG examples. 
AIRFLOW__CORE__LOAD_EXAMPLES=false 

# POSTGRES for Airflow DB
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow

# PG ADMIN
PGADMIN_DEFAULT_EMAIL=admin@adm.com
PGADMIN_DEFAULT_PASSWORD=admin

# COINMARKETCAP
COINMARKETCAP_API_KEY=your_api_key

# POSTGRES for application coinmarketcap
APP_POSTGRES_USER=postgres
APP_POSTGRES_PASSWORD=postgres
APP_POSTGRES_DB_COINMARKETCAP=coinmarketcap_project
APP_POSTGRES_HOST=localhost
APP_POSTGRES_PORT=5432