# AIRFLOW 

# Based on the Airflow official documentation
AIRFLOW_UID=50000
# Do not load DAG examples. 
AIRFLOW__CORE__LOAD_EXAMPLES=false 

# POSTGRES
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow

# PG ADMIN
PGADMIN_DEFAULT_EMAIL=admin@adm.com
PGADMIN_DEFAULT_PASSWORD=admin